{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css_game/doge.css' %}" />
<body style="background-image: linear-gradient( 90deg,  rgba(0,0,0,0.93) 11.2%, rgba(63,61,61,1) 78.9% );">
    <div class="container text-center text-white">
      <div class="row">
        <div class="col-md">
          {% load staticfiles %}
          <img class="img-fluid" src="{% static 'images/doge_dodge.png' %}" alt="Doge Dodge">
          <br><br>
          <img class="img-fluid" src="{% static 'images/help.png' %}" alt="Doge Dodge">
          <br><br>
          <p>I built this game in Golang and compiled it to Javascript with <a href="https://github.com/gopherjs/gopherjs">GopherJS</a> to run it in the browser. It is heavily inspired by the Chrome T-Rex game that pops up when there's bad connectivity (s/o to Cal's wifi!), as well as my favorite game of all time, Crossy Road.</p>
          <p>Credits: <a href="https://ebiten.org/">tile art and sound effects</a>, <a href="http://pixelartmaker.com/art/13d23ac43116c0c.png">doge art</a>, <a href="http://pixelartmaker.com/art/dc64eddc1719fb3.png">cactus art</a>, <a href="https://steamuserimages-a.akamaihd.net/ugc/96104387823325173/12EBB3BF7F176EFFCE809BFA500953E1F60F8825/">background art</a>, <a href="http://pixelartmaker.com/art/da268f06e621b21.png">rock art</a>, <a href="http://pixelartmaker.com/art/dca2574a41f6294.png">spike art</a>.
        </div>
        {% load staticfiles %}
        <script src="{% static 'js/doge.js' %}"></script>

      </div>
      </div>
    </div>
  </body>

{% endblock %}
